# OpenMC 시뮬레이션 절체 설정 관리하는 파일
# 이 파일 내의 값만 수정하여 다양한 조건 해석 가능

# 해석 설정
simulation:
  particles: 100 # Batch 1회 당 particle generation (늘리면 통계 오차 감소)
  batches: 5 # 해석의 iteration
  inactive: 0
  n_source_points: 10000
  max_tracks: 10000
  threads: 20 # 컴퓨터 코어 수 (미설정시 최대 코어로 자동 설정)

# 재료 설정
materials:
  breeder:
    li_enrichment: 60.0
    packing_fraction: 0.64
    mixture_Li4SiO4: 0.65
    mixture_Li2TiO3: 0.35
    temperature: 1200 # [K]

  multiplier:
    temperature: 1200 # [K]

  eurofer:
    temperature: 800 # [K]

  he:
    temperature: 723 # [K]
    pressure: 8.0E+6 # [Pa]
    temperature_purge: 723 # [K]
    pressure_purge: 0.2E+6 # [Pa]


# 형상 설정 [cm]
geometry:
  tokamak_major_radius: 906.0
  tokamak_minor_radius: 292.258
  # Edge length of triagle or hexagon depending on your geometry unit cell
  characteristic_length: 7.333
  h5m_path: '/opt/geometries/20250825_EU_DEMO_HCPB_HP_WIDE_CELL_ZAxis_Channel.h5m'


# DAGMC 형상 감싸는 박스
bounding:
  z_max: 1250.158
  z_min: 898.0
#  z_height: 100.0
#  y_width: 100.0


# 형상 2D plot용 좌표
2D_plot:
  x_coord: 0.0
  y_coord: 0.0
  z_coord: 1221.0


# 전체 형상을 감싸는 cylindrical mesh 설정
mesh_cylindrical:
  r_min: 0.0
  r_max: 7.3
  division_r: 147 # 0.1 cm 격자
  z_min: 1198.058
  z_max: 1250.158
  division_z: 522 # 0.1 cm 격자
  phi_min: 0.523599 # 30 deg
  phi_max: 1.5708 # 90 deg
  division_phi: 2 # 10 deg 격자

# HP 모델 Pressure tube 격자
mesh_cyl_tube:
  r_min: 4.6
  r_max: 5.0
  division_r: 5 # 0.1 cm 격자
  z_min: 1200.458
  z_max: 1250.158
  division_z: 498 # 0.1 cm 격자

# HP 모델 Breeder, Inner Multiplier 격자
mesh_cyl_brd_mtp:
  r_min: 0.7
  r_max: 4.3
  division_r: 37 # 0.1 cm 격자
  z_min: 1201.758
  z_max: 1244.358
  division_z: 427 # 0.1 cm 격자

# HP 모델 Outer Multiplier 격자
mesh_cyl_outer_mtp:
  r_min: 5.1
  r_max: 7.3
  division_r: 23 # 0.1 cm 격자
  z_min: 1200.958
  z_max: 1231.958
  division_z: 311 # 0.1 cm 격자

# Multiplier만 감싸는 coarse mesh 설정
mesh_outer_multiplier:
  r_min: 4.0 # 안쪽 반지름
  r_max: 5.75 # 바깥쪽 반지름
  phi_min: 0.523599 # 30 deg
  phi_max: 1.5708 # 90 deg
  z_min: 1200.958 # FW쪽 z 좌표
  z_max: 1240.958 # BSS쪽 z 좌표