# OpenMC 시뮬레이션 절체 설정 관리하는 파일
# 이 파일 내의 값만 수정하여 다양한 조건 해석 가능

# 해석 설정
simulation:
  particles: 100 # Batch 1회 당 particle generation (늘리면 통계 오차 감소)
  batches: 5 # 해석의 iteration
  inactive: 0
  n_source_points: 10000
  max_tracks: 10000
  threads: 20 # 컴퓨터 코어 수 (미설정시 최대 코어로 자동 설정)

# 재료 설정
materials:
  breeder:
    li_enrichment: 60.0
    packing_fraction: 0.64
    mixture_Li4SiO4: 0.65
    mixture_Li2TiO3: 0.35
    temperature: 1200 # [K]

  multiplier:
    temperature: 1200 # [K]

  eurofer:
    temperature: 800 # [K]

  he:
    temperature: 723 # [K]
    pressure: 8.0E+6 # [Pa]
    temperature_purge: 723 # [K]
    pressure_purge: 0.2E+6 # [Pa]


# 형상 설정 [cm]
geometry:
  tokamak_major_radius: 906.0
  tokamak_minor_radius: 292.258
  # Edge length of triagle or hexagon depending on your geometry unit cell
  characteristic_length: 7.2168783648703220563643597562745
  axial_end: 1244.458
  h5m_path: '/opt/geometries/20250815_EU_DEMO_HCPB_LP_WIDE_CELL_ZAxis_Channel.h5m'

# CSG parameters [cm]
csg_geometry:
  plane:
    first_wall_thickness: 0.2
    fw_channel_thickness: 2.0
    fw_channel_to_impinging: 0.4
    fw_channel_to_multiplier: 0.5
    length_multiplier: 40.0
    impinging_to_pin: 1.0
    pin_tip_thickness: 0.3
    cone_axial: 5.3
    length_straight: 37.0
  cylinder:
    multiplier_inner: 4.0
    tube_outer: 3.9
    tube_inner: 3.5
    pin_outer: 3.3
    breeder_outer: 3.0
    breeder_inner: 1.4
    pin_inner: 0.8
  hexagon:
    unit: 7.217
    multiplier: 6.64
  cone:
    diagonal_angle: 0.2281


# 형상 2D plot용 좌표
2D_plot:
  x_coord: 0.0
  y_coord: 0.0
  z_coord: 1221.0


# 후처리용 격자 설정 [cm or 개]
mesh:
  division_x: 1 # x 방향 격자 개수
  division_y: 1 # y 방향 격자 개수
  division_z: 462 # z 방향 격자 개수

# 전체 형상을 감싸는 cylindrical mesh 설정
mesh_cylindrical:
  r_min: 0.0
  r_max: 6.6
  division_r: 67 # 0.1 cm 격자
  z_min: 1198.258
  z_max: 1244.458
  division_z: 463 # 0.1 cm 격자
  phi_min: 0.523599 # 30 deg
  phi_max: 1.5708 # 90 deg
  division_phi: 6 # 10 deg 격자

# Multiplier만 감싸는 coarse mesh 설정
mesh_outer_multiplier:
  r_min: 4.0 # 안쪽 반지름
  r_max: 5.75 # 바깥쪽 반지름
  phi_min: 0.523599 # 30 deg
  phi_max: 1.5708 # 90 deg
  z_min: 1200.958 # FW쪽 z 좌표
  z_max: 1240.958 # BSS쪽 z 좌표