openmc_plot
openmc-plotter
openmc_source_plotter
openmc_tally_unit_converter
cadquery
paramak
openmc_plasma_source
"neutronics_material_maker[density]"
cad_to_dagmc
openmc_regular_mesh_plotter
openmc_cylindrical_mesh_plotter
openmc_depletion_plotter[gui]
openmc_geometry_plot
spectrum_plotter
dagmc_bounding_box
remove_dagmc_tags
dagmc-h5m-file-inspector
stl_to_h5m
lithium-enrichment-cost-calculator
cad_to_h5m
openmc-mesh-tally-to-vtk
dagmc_geometry_slice_plotter
openmc_data
openmc_data_downloader
tqdm
PyYAML
git+https://github.com/openmc-dev/openmc_mcnp_adapter.git
git+https://github.com/openmc-dev/openmc_cad_adapter.git
# 필요 시 추가
